# KEEP THIS TOKEN SECRET
# ONLY USE THIS FILE LOCALLY
# DO NOT UPDATE SOURCE CONTROL WITH A VALID TOKEN

# Rename file to credentials.py to use

# This is the REDCap generated token to access the API.
REDCAP_API_TOKEN = ""
